body {
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	font-weight:300;
	font-size: 12px;
	line-height:30px;
	color:#777;
	background:rgb(61, 60, 60);
}

  /**************************** navigation var ************************/
  nav{
    height: 90px;
  }
  
  .nav-wrapper {
    background-color: black;
     
  }
  
  .nav-wrapper img{
  
    height: 300px;
    position: relative;
    left: 230px;
    bottom: 130px;
    
  }
  
  
  .nav-wrapper button {
    position: relative;
    right: 20px;
    width: auto;
  }
  
  .nav-wrapper button i {
    position: relative;
    bottom: 22px;
  
  }
    
 li {
      position: relative;
      right: 200px;
      font-family: 'Cuprum', sans-serif;
 }

 li .name{
  position: relative;
  left:100px;
}
    
#nav-mobile li a {
      
      position: relative;
      right: 50px;
      display: block;
      color: white;
      text-align: center;
      font-size: 20px;
      font-family: 'Cuprum', sans-serif;
      padding: 3px 15px;
      text-decoration: none;
}  

a.effect-box:after,
a.effect-box:before {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1.4em;
  width: 100%;
  margin-top: 18px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	
}

a.effect-box:before {
  border-left: 1px solid;
  border-right: 1px solid;
  -webkit-transform: scale(1,0);
	transform: scale(1,0);
}

a.effect-box:after {
  border-bottom: 1px solid;
  border-top: 1px solid;
  -webkit-transform: scale(0,1);
	transform: scale(0,1);
}

a.effect-box:hover:after,
a.effect-box:hover:before {
  opacity: 1;
	-webkit-transform: scale(1);
  transform: scale(1);
  color: red;
}

/**************************** about us************************/

.cont {

  width: 700px;
  height: 500px;
  position: relative;
  left: 500px;
  top: 100px;
  
}